@import 'libs/bootstrap-reboot.min';
@import 'base/_animations';
@import 'libs/animate';
@import 'libs/slick';

*{
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    margin: 0;
}
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.scrollup{
    position: fixed;
    display: none;
    top: 20px;
    right: 20px;
    width: 55px;
}
.head{
    width: 100%;
    height: 50px;
    background-color: black;
}

@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/description';
@import 'blocks/agent';
@import 'blocks/prices';
@import 'blocks/consultation';
@import 'blocks/managers';
@import 'blocks/workus';
@import 'blocks/_reviews';
@import 'blocks/feedback';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/modals';
@import 'blocks/forms';
@import 'media/header';
@import 'media/promo';
@import 'media/advantages';
@import 'media/description';
@import 'media/agent.scss';
@import 'media/prices';
@import 'media/consultation';
@import 'media/managers';
@import 'media/workus';
@import 'media/reviews';
@import 'media/feedback';
@import 'media/footer';
@import 'media/modals';