.button{
    width: 160px;
    height: 45px;
    background-color: $main-color;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    animation-name: button-btn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    &_settings{
        display: block;
        margin: 0 auto;
        margin-top: 39px;
        width: 230px;
        height: 57px;
    }
}
