.description{
    min-height: 619px;
    padding: 51px 0 57px 0;
    &__headerSup{
        color: #2e2e2e;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
        text-align: center;
    }
    hr{
        width: 750px;
        border: 1px solid $main-color;
        margin: 20px auto 17px auto;
        animation-name: line-hr;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    &__headerSub{
        color: #2e2e2e;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
    }
    &__item{
        width: 360px;
        img{
            width: 100%;
        }
    }
    &__header{
        line-height: 18px;
        color: $main-color;
        font-size: 18px;
        font-weight: 700;
        margin-top: 28px;
        text-align: center;
    }
    &__descr{
        margin-top: 16px;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        text-align: justify;
    }
}