.footer{
    min-height: 201px;
    background-color: #25333c;
    padding: 24px 0 28px 0;
    &__wrapper{
        display: flex;
        align-items: center;
    }
    img{
        width: 68px;
    }
    &__descr{
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin-left: 43px;
    }
    &__contacts{
        margin-left: 275px;
        text-align: right;
    }
    &__label{
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
    &__phone{
        a{
            color: #ffffff;
            font-size: 19px;
            font-weight: 700;
            line-height: 24px;
        }
    }
    .button{
        margin-left: 20px;
    }
    hr{
        width: 1140px;
        opacity: 0.3;
        margin: 26px auto 19px auto;
    }
    &__adress{
        opacity: 0.6;
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
    }
    &__politics{
        a{
            color: #ec644b;
            font-size: 13px;
            font-weight: 300;
            line-height: 17px;
            text-decoration: underline;
            margin-left: 223px;
        }
    }
    &__text{
        opacity: 0.6;
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        margin-left: 456px;
    }
    &__icon{
        width: 30px !important;
        opacity: 0.78;
        margin-left: 10px;
    }
}