.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img{
        width: 96px;
        animation-name: header-logo;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    &__items{
        display: flex;
        margin-left: 55px;
        margin-bottom: 0;
        li{
            list-style-type: none;
            border-right: 1px dotted rgba(255, 255, 255, 0.4);
            padding: 8px 12px;
            line-height: 10px;
            a{
                color: #ffffff;
                font-size: 15px;
                font-weight: 400;
                text-decoration: none;
                &:hover{
                    color: $main-color;
                    border-bottom: 1px solid $main-color;
                    padding-bottom: 3px;
                }
            }
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
                border-right: none;
            }
        }
    }
    &__contacts{
        margin-left: 50px;
    }
    &__label{
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
        text-align: right;
    }
    &__phone{
        margin-top: 5px;
        a{
            color: #ffffff;
            font-size: 19px;
            font-weight: 700;
            line-height: 19px;
        }
    }
    .button{
        margin-left: 18px;
    }

    
}