.workus{
    min-height: 454px;
    background-color: #f3f3f3;
    padding: 51px 0 46px 0;
    &__header{
        color: #2e2e2e;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
        text-align: center;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item{
        width: 255px;
        text-align: center;
        margin: 0 15px;

        margin-top: 33px;
    }
    &__descr{
        line-height: 20px;
        color: #ec644b;
        font-size: 16px;
        font-weight: 700;
        margin-top: 7px;
    }
    &__text{
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
    }
}