@media(max-width: 1200px){
    .footer{
        padding: 24px 10px 28px 10px;
        &__contacts{
            margin-left: 100px;
        }
        &__text{
            margin-left: 270px;
        }
        hr{
            width: 960px;
        }
    }
}
@media(max-width: 991px){
    .footer{
        &__contacts{
            margin-left: 50px;
        }
        &__descr{
            margin-left: 10px;
            width: 270px;
        }
        hr{
            width: 740px;
        }
        &__text{
            margin-left: 170px;
        }
        &__politics{
            a{
                margin-left: 100px;
            }
        }
    }
}
@media(max-width: 767px){
    .footer{
        hr{
            width: 550px;
        }
        &__descr{
            display: none;
        }
        &__contacts{
            margin-left: 140px;
        }
        &__politics{
            a{
                margin-left: 20px;
            }
        }
        &__text{
            margin-left: 70px;
        }
    }
}
@media(max-width: 580px){
    .footer{
        hr{
            width: 350px;
        }
        &__contacts{
            margin-left: 100px;
        }
        .button{
            display: none;
        }
        &__wrapper:last-child{
            flex-direction: column;
        }
        &__text{
            margin: 10px 0 0 0;
        }
        &__politics{
            margin: 10px 0 0 0;
            a{
                margin: 0;
            }
        }
    }
}
@media(max-width: 380px){
    .footer{
        hr{
            width: 270px;
        }
        &__contacts{
            margin-left: 20px;
        }
    }
}