@media ( max-width:  991px){
    .managers{
        &__descr{
            margin-left: 10px;
            margin-right: 10px;
            br{
                display: none;
            }
        }
    }
}
@media ( max-width:  380px){
    .managers{
        &__header{
            font-size: 23px;
        }
        &__descr{
            font-size: 18px;
        }
    }
}