@media ( max-width:  1200px){
    .prices{
        &__item{
            width: 230px;
        }
        &__wrapper{
            justify-content: space-evenly;
        }
    }
}
@media ( max-width:  991px){
    .prices{
        &__item{
            width: 180px;
        }
        &__descr{
            span{
                font-size: 23px;
            }
        }
    }
}
@media (max-width:  767px){
    .prices{
        padding-bottom: 20px;
        &__item{
            width: 40%;
            margin-bottom: 40px;
        }
        &__wrapper{
            flex-wrap: wrap;
        }
        hr{
            width: 500px;
        }
        @keyframes line-hr{
            from{
                width: 500px;
            }
            50%{
                width: 0;
            }
            to{
                width: -500px;
            }
        }
        &__headerSub{
            br{
                display: none;
            }
        }
    }
}
@media (max-width:  580px){
    .prices{
        &__headerSup{
            font-size: 25px;
            line-height: 30px;
            margin: 0 10px;
        }
        hr{
            width: 300px;
        }
        @keyframes line-hr{
            from{
                width: 300px;
            }
            50%{
                width: 0;
            }
            to{
                width: -300px;
            }
        }
        &__headerSub{
            font-size: 18px;
            margin: 0 10px;
        }
        &__item{
            width: 45%;
        }
    }
}
@media (max-width:  380px){
    .prices{
        &__item{
            width: 70%;
            margin-bottom: 40px;
        }
    }
}